<div>
  <h4>Welcome to Server Manager 4.0</h4>
  <p>Manage your Servers and Users.</p>
  <button class="btn btn-primary" (click)="showServers()">Show Servers</button>
  <button class="btn btn-primary ms-4 mx-4" (click)="onLogin()">Login</button>
  <button class="btn btn-primary" (click)="onLogout()">Logout</button>
</div>
