<div *ngIf="!allowEdit">
  <h4>You can not Edit this Server</h4>
</div>

<div *ngIf="allowEdit">
  <div class="form-group">
    <label for="name">Server Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="serverName">
  </div>
  <div class="form-group mt-4">
    <label for="status">Server Status</label>
    <select
      id="status"
      class="form-select"
      [(ngModel)]="serverStatus">
      <option value="online">Online</option>
      <option value="offline">Offline</option>
    </select>
  </div>
  <button
    class="btn btn-primary mt-4 mb-4"
    (click)="onUpdateServer()">
    Update Server
  </button>
</div>
