<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              routerLink="/servers"
            >
              Servers
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              routerLink="/users"
            >
              Users
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
